@import url(https://fonts.googleapis.com/css?family=Lato);

.home-page-top-main {
    width: 100%;
    height: 400px;
    position: relative;
    background: url('img/main-bg.jpg') center no-repeat;
    background-size: cover;
}



.menu {
  position: absolute;
  width: 50px;
  height: 50px;
}

.menu img {
  margin-top: 30px;
  margin-left: 30px;
  width: 100%;
  left: 25px;
}


.home-page-content-top {
    text-align: left;
    font-family: 'Lato', sans-serif;
    font-size: 44px;
    position: absolute;
    top: 94px;
    left: 30px;
}



.home-top-button {
    width: 200px;
    padding: 10px 0 10px 0 ;
    background: #000;
    border-radius: 50px;
    text-align: center;
    position: absolute;
    bottom: 50px;
    left: 25px;
}


.home-top-button a {
    color: #fff;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    cursor: pointer;

}

.home-page-product-card {
    width: 50%;
    cursor: pointer;
    float:left;
    margin-top: -3px;
}

.home-page-product-card img {
    width: 100%;
}

.no-display {
    display: none;
}
